body {
    font-family: sans-serif;
}

#assignment-instructions {
    color: blueviolet;
}

code {
    font-family: monospace;
    color: red;
}

.special-code {
    color: green;
}

li + li {
    background-color: black;
    color: white;
}

ol > li {
    background-color: black;
    color: white;
}